.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: #d7e5f0;
  color: #353535;
  color: #353535;
  font-family: "Roboto", sans-serif;
}

.WeatherInfo {
  height: 80px;
}
